.advantages {
  max-width: 378px;
  display: grid;
  grid-template-columns: 116px 105px 108px;
  gap: 24px;
  grid-column: 3 / -1;
}

.advantages__item {
  padding-left: 42px;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  color: #ffffff;
  background-size: 36px 36px;
  background-position: left;
  background-repeat: no-repeat;

  &--dice {
    background-image: url("/images/icons/dice.svg");
  }

  &--slot {
    background-image: url("/images/icons/slot.svg");
  }

  &--time {
    background-image: url("/images/icons/time.svg");
  }
}

/* Tablet */
@media (max-width: 1439px) {
  .advantages {
    max-width: 420px;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .advantages {
    max-width: 320px;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
    grid-column: 1 / -1;
  }
}
