.contact {
  padding: 24px 200px 10px;
  position: relative;

  &::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1070px;
  bottom: 0;
  left: 0;
  background-image: url("/images/bg-contact.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.6;
  z-index: -1;
  }
}

.contact__container {
  display: grid;
  grid-template-columns: 400px 475px;
  gap: 0 148px;
}

.contact__text {
  margin: 0 0 25px;
  font-size: 16px;
  color: #ffffff;
}

.contact__form {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.contact__label {
  width: 100%;
}

.contact__field {
  width: 100%;
}

.contact__checkbox {
  margin-right: 8px;
  width: 14px;
  height: 14px;
}

.contact__submit {
  margin-left: auto;
  padding: 9px 38px;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
}

.contact__bonus-link {
  display: block;
  grid-column: 2;
  grid-row: 1 / 5;

  @media (hover: hover) {
    &:hover {
      opacity: 0.9;
    }
  }

  &:active {
    opacity: 0.8;
  }
}

/* Tablet */
@media (max-width: 1439px) {
  .contact {
    padding: 24px 40px 10px;
  }

  .contact__container {
    padding: 0;
    position: relative;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 50px;
    z-index: 1;
  }

  .contact__text {
    grid-column: 1;
  }

  .contact__form {
    grid-column: 1;
  }

  .contact__submit {
    margin: 0;
    width: 100%;
  }

  .contact__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .contact {
    padding: 24px 16px 10px;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__text {
    text-align: center;
  }

  .contact__bonus-link {
    margin-bottom: 20px;
    order: -1;
  }

  .contact__image {
    max-width: 240px;
    max-height: 240px;
  }
}