.container {
  margin: 0 auto;
  max-width: 1080px;

  /* Tablet */
  @media (max-width: 1439px) {
    max-width: 900px;
  }

  /* Mobile */
  @media (max-width: 767px) {
    max-width: 100%;
  }
}
