.games {
  padding: 26px 200px 24px;
}

.games__container {
  display: grid;
  grid-template-columns: repeat(2, 512px);
  gap: 24px 16px;
}

.games__title {
  margin: 0 0 -22px;
  grid-column: 1 / -1;
}

.games__text {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  grid-column: 1;
}

.games__view-all {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: from-font;
  text-underline-offset: 2px;
  color: #ffffff;
  justify-self: end;
  transition: opacity 0.3s ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.games__list {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 16px;
}

.games__image-link {
  margin: 0 0 6px;
  display: block;
  transition: opacity 0.3s ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.games__image {
  border-radius: 16px;
}

.games__name {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  transition: opacity 0.3s ease, color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: #4870ff;
    }
  }

  &:active {
    color: #4870ff;
    opacity: 0.8;
  }
}

.games__author {
  display: block;
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
}

.games__notice {
  margin: 0;
  max-width: 655px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  grid-column: 1 / -1;
}

/* Tablet */
@media (max-width: 1439px) {
  .games {
    padding: 26px 40px 24px;
  }

  .games__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .games__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .games__text {
    grid-column: 1 / -1;
  }

  .games__view-all {
    grid-column: 1 / -1;
    justify-self: start;
  }
}

/* Mobile */
@media (max-width: 549px) {
  .games__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 15px;
  }
}

@media (min-width: 550px) and (max-width: 766px) {
  .games__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .games {
    padding: 20px 16px;
  }

  .games__container {
    padding: 0;
    gap: 16px;
  }

  .games__title {
    margin: 0 0 16px;
  }

  .games__image {
    max-width: 135px;
  }

  .games__text {
    font-size: 14px;
  }

  .games__name {
    font-size: 14px;
  }

  .games__notice {
    font-size: 12px;
    text-align: center;
  }
}
