.header {
  backdrop-filter: blur(10px);
  background-color: rgba(1, 1, 31, 0.4);
}

.header__container {
  display: flex;
  align-items: center;
}

/* Tablet */
@media (max-width: 1439px) {
  .header {
    padding: 0 40px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}