.hero {
  padding: 54px 0 26px;
  background-color: darkblue;
  display: grid;
}

.hero__title {
  margin: 0 auto 6px;
  max-width: 586px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58.46px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero__text {
  margin: 0 auto 24px;
  max-width: 389px;
  font-size: 28px;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  line-height: 34.1px;
}

.hero__buttons {
  margin: 0 0 59px;
  padding: 0 70px;
  display: grid;
  grid-template-columns: repeat(2, 160px);
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/* Tablet */
@media (max-width: 1439px) {
  .hero {
    padding: 54px 40px 26px;
  }

  .hero__title {
    max-width: 480px;
    font-size: 36px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .hero {
    padding: 54px 16px 26px;
  }

  .hero__title {
    max-width: 320px;
    font-size: 28px;
  }

  .hero__text {
    max-width: 260px;
  }

  .hero__buttons {
    grid-template-columns: repeat(1, 100%);
    gap: 8px;
  }
}