.login-button {
  padding: 9px 32px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: $white;
}

/* Tablet */
@media (max-width: 1439px) {
  .login-button {
    padding: 9px 12px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .login-button {
    font-size: 14px;
  }
}
