.logo {
  margin-right: 64px;
  display: block;
  transition: opacity 0.3s ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    opacity: 0.7;
  }
}