.our-deals {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 0 12px;
}

.our-deals__image-link {
  margin: 0 0 6px;
  display: block;
  grid-column: 1 / -1;
  transition: opacity 0.3s ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.our-deals__image {
  border-radius: 16px;
}

.our-deals__title {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  transition: opacity 0.3s ease, color 0.3s ease;
  
  @media (hover: hover) {
    &:hover {
      color: #4870ff;
    }
  }

  &:active {
    color: #4870ff;
    opacity: 0.8;
  }
}

.our-deals__link {
  padding: 5px 16px;
  max-width: 160px;
  justify-self: end;
  transform: translateY(3px);
}

.our-deals__text {
  display: block;
  font-family: $font-family;
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
}

/* Mobile */
@media (min-width: 550px) and (max-width: 767px) {
  .our-deals__image {
    max-width: 290px;
  }
}

@media (max-width: 767px) {
  .our-deals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .our-deals__image {
    max-width: 100%;
    object-fit: cover;
  }
}