.play-button {
  padding: 11px 32px;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
}

/* Mobile */
@media (max-width: 767px) {
  .play-button {
    font-size: 14px;
  }
}
