.social {
  max-width: 68px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: end;
  gap: 4px;
}

.social__link {
  padding: 4px;
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;

  &--twitter {
    background-image: url("/images/icons/twitter.svg");
  }

  &--facebook {
    background-image: url("/images/icons/facebook.svg");
    background-size: 10px 16px;
  }

  &--instagram {
    background-image: url("/images/icons/instagram.svg");
    background-size: 14px 16px;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.6;
  }
}