*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
