/* Viewports */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

/* Fonts */
$font-family: "Proxima Nova", "Tahoma", sans-serif;

/* Colors */
$white: #ffffff;
$hover: #4870ff;
$gradient: #fa00ff;
